.wrapper {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    background-color: transparent;
    width: 160%;
    height: 100%;
    font-weight: 500;
}
